    <div class="row about section skew-after-right">
        <div class="col">
            <h3>About Me!</h3>
            <hr />
            <h4>Lauryn Brown</h4>
        </div>
    </div>
<div class="row about-section skew-after-left">
    <div class="col-sm-6 text-center margin-after">
        <div class="about-header">
            <h3>Lauryn D. Brown<br />Software Engineer</h3>
        </div>
        <div class="about-text">
            <p class="lead">I'm Lauryn Brown. Here's a short summary of me. Check out my professional links as well.</p>
            <div>
                <a href="https://www.linkedin.com/in/lauryndbrown/" class="social-icon">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    <br />
                    <span>LinkedIn</span>
                </a>
                <a href="https://github.com/lauryndbrown" class="social-icon">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                    <br />
                    <span>Github</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-center">
        <img class="about_img img-fluid" src="profile.jpg" alt="Lauryn Brown">
    </div>
</div>
    <div class="row about-section-details skew-after-right text-center">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Education</h3>
            <hr />
            <ul>
                <li>Carnegie Mellon University</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Experience</h3>
            <hr />
            <ul>
                <li>The Boeing Company</li>
                <li>MasterCard Worldwide</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Skills</h3>
            <hr />
            <ul>
                <li>Java</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h3>Interests</h3>
            <hr />
            <ul>
                <li>Beginning Spanish</li>
                <li>Beginning Violin</li>
                <li>Web & Game Development</li>
                <li>Artificial Intelligence</li>
            </ul>
        </div>
    </div>
</div>
