<div class="container-fluid home text-left">
    <div class="row section skew-after-right">
        <div class="col">
            <h3>Lauryn Brown</h3>
            <hr />
            <h4>Software Engineer</h4>
        </div>
    </div>
    <div class="row section skew-after-left">
        <div class="col">
            <p class="lead text-center">
                I've recently graduated from Carnegie Mellon and based in Oklahoma. <br /> Checkout the projects I'm working on currently.
            </p>
        </div>
    </div>
    <%- partial('_partial/_content/projects_grid') %>
</div>
