<div class="home text-left">
    <div class="row section skew-after-right">
        <div class="col">
            <h1>Lauryn Brown</h1>
            <hr />
            <h4>Software Engineer</h4>
        </div>
    </div>
    <div class="row about section skew-after-left text-center">
          <div class="col-sm-6 margin-after">
                <div class="about-text">
                      <h3>Hi!</h3>
                      <hr />
                      <p class="lead">
                        I'm Lauryn Brown, a developer from Oklahoma.
                        I recently graduated from Carnegie Mellon University.
                        Check out my professional links as well.
                      </p>
                  </div>
              </div>
              <div class="col-sm-6">
                  <img class="about_img img-fluid" src="profile.jpg" alt="Lauryn Brown">
              </div>
        </div>
    <div class="row section skew-after-right text-center">
        <div class="col-sm-6 margin-after">
            <h3>Projects</h3>
            <hr />
            <p class="lead">
                Checkout the projects I'm working on currently.
            </p>
        </div>
        <div class="col-sm-6 margin-after">
                <a href="https://www.linkedin.com/in/lauryndbrown/" class="social-icon">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <br />
                    <span>ASCII Civilization Game</span>
                </a>
                <br />
                <span>Powered by the</span>
                <br />
                <a href="https://github.com/lauryndbrown" class="social-icon">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    <br />
                    <span>ASCII-Art Game Engine</span>
                </a>
        </div>
    </div>
</div>
