html, body {
    font-family: 'Raleway', sans-serif;
    color:#3D3C3A;
    background-color:#fff;
}
h1{
    font-weight:900;
    font-size: 3.5em;
}
h3{
    font-weight:900;
    font-size:3em;
}
h4{
  font-weight:900;
  font-size:2em;
}
p.lead{
    font-weight:300;
    font-size:1.5em;
}
.jumbotron{
    background-color:#fff;
}
.margin-after{
    margin-bottom:1em;
}
/* --------------------------------------------------
 * Skew
-------------------------------------------------- */
.skew-nav, .skew-after-left, .skew-before-left, .skew-after-right {
  position: relative;
  z-index: 1;
}
.skew-after-left:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-5deg);
  transform-origin: 100%;
  z-index: -1;
}
.skew-before-left:before {
  background: inherit;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewY(5deg);
  transform-origin: 100% 0;
  z-index: -1;
}
.skew-after-right:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(5deg);
  transform-origin: 0 100%;
  z-index: -1;
}
.skew-nav:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}
/* --------------------------------------------------
 * Navbar Footer
-------------------------------------------------- */
.navbar {
  background:rgba(255,255,255,0);
}

.navbar-nav{
  background:rgba(0,0,0,0.5);
}
.navbar-nav li{
    margin-bottom:1em;
    font-weight:600;
}
.navbar-nav li:first-of-type{
    margin-top:1em;
}
footer{
    font-weight:600;
    background-color: #fff;
    color:#000;
    z-index: 10;
}
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active{
    color:#fff;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active{
    color:#000;
}
footer a:hover, footer a:active, nav a:hover, nav a:active{
    color:#778899;
    text-decoration:None;
}
.navbar-brand{
    color:#000;
}
span.navbar-toggler-icon i{
    color:#fff;
    font-size:30px;
}
button.navbar-toggler{
    background:rgba(0,0,0,0.5);
}
/* --------------------------------------------------
 * Components
-------------------------------------------------- */
.content{
    padding-bottom: 5em;
}
hr{
    border:solid .2em rgba(255,255,255, 1);
}
/* --------------------------------------------------
 * Secions
-------------------------------------------------- */
.section{
    padding-top:8em;
}
.section:nth-child(1){
    background-color:#2A3141;
    color:#fff;
    z-index:9;
    padding-top:5em;
}
.home .section:nth-child(2){
    background-color:#3F4E85;
    color:#fff;
    z-index:8;
}
.section:nth-child(3){
    background-color:#4C5C96;
    color:#fff;
    z-index:7;
}
.section:nth-child(4){
    background-color:#45558D;
    color:#fff;
    z-index:6;
}
.section:nth-child(5){
    background-color:#4C5C96;
    color:#fff;
    z-index:5;
}
.section:nth-child(6){
    background-color:#4C5C96;
    color:#fff;
    z-index:4;
}
.section:nth-child(7){
    background-color:#3F4E85;
    color:#fff;
    z-index:3;
}
.feature-box{
    background-color:#3F4E85;
    padding:3em;
    max-height: 30em;
    max-width:30em;
}
/* --------------------------------------------------
 * About Section
-------------------------------------------------- */
.about_img{
    border-radius:50%;
}
.about-text img{
    width: 100px;
    height: 100px;
}
.about-text a{
    color:#fff;
}
a, a:link, a:visited {
    color:#fff;
}
a:hover, a:active {
    color:#2A3141;
    text-decoration:None;
}
.section .social-icon {
    font-size:1.5em;
}
.section .social-icon i {
    font-size:1.5em;
}
.projects p{
    margin-top: 1rem;
    font-size: 1.3em;
}
/* --------------------------------------------------
 * Footer
-------------------------------------------------- */
.blog-sidebar{
    background-color:#3F4E85;
    color:#fff;
    z-index: 9;
}
.section.blog-header{
    background-color:#4C5C96;
    color:#fff;
}
.blog-main{
  margin-bottom: 3em;
  margin-top: 3em;
}
/* --------------------------------------------------
 * Footer
-------------------------------------------------- */
footer .social-icon i, footer .social-icon span{
    font-size:1.5em;
}

footer .social-icon span{
    margin-right:10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  padding-top:15px;
}
